#photo{
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    width: 100%;        
    max-width: 300px;   
    height: auto;
}
h1{
    color: blue;
}
h2{
    color: gray;
}
div{
    margin: 4px;
}
